* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: pink;
    box-sizing: border-box;
    overflow-x: hidden;
}


header {
    width: 100%;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: center;
    /* centers nav items horizontally */
    gap: 30px;
    /* space between nav items */
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    background-color: white;
    padding: 10px;
}

.container a {
    text-decoration: none;
    /* removes underline from links */
    color: black;
}

.logo-container {
    display: flex;
    /* places image + text side by side */
    align-items: center;
    /* centers item vertically */
    justify-content: center;
    width: 100%;
    gap: 160vw;
    margin-top: 10px;
}

.logo {
    height: auto;
    position: absolute;
    left: 20px;
    max-width: 100%;

}

.crown {
    height: auto;
    width: 160px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.logo-text {
    font-size: 4vw;
    white-space: nowrap;
    /* prevents text from wrapping to next line */
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    position: relative;
    top: 30px;
    left: 20vw;
}

.highlight {
    background-color: pink;
    /* highlight color */
    padding: 5px 60px;
    /* padding around text */
    border-radius: 5px;
    /* rounded corners */
}

.image-container {
    position: relative;
    width: fit-content;
    width: 100%;
    margin: 0 auto;
}

.main-image {
    display: block;
    margin: 20px auto;
    /* centers the image horizontally with margin */
    width: 100%;
    /* ensures image doesn't exceed container width */
    height: auto;
    /* maintains aspect ratio */
}

.corner_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    font-size: 22px;
    background-color: white;
    color: darkorchid;
    border: none;
    border-radius: 5px;

}

.bp-profile-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    width: 100%;
}

.profile {
    flex: 1;
    text-align: start;
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

.intro-container {
    flex: 1;
    text-align: center;
    background-color: darkred;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    max-height: 350px;

}

.intro-title {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 28px;
    margin-top: 5px;
    color: white;
    text-align: center;
}

.intro-content {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 24px;
    gap: 10px;
    color: white;
    max-height: 200px;
    /* sets a maximum height for the scrollable area */
    overflow-y: auto;
    /* adds vertical scrollbar if content exceeds max height */
    text-align: left;
    margin-top: -10px;
}

.words {
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 18px;
    position: relative;
    padding: 1px;
    justify-content: end;
    bottom: -10px;
    background-color: lightcoral;
    height: 40px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.left-panel {
    width: 50%;
    float: left;
    text-align: start;
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    color: black;

}

.jump-logo {
    width: 280px;
    height: auto;
    vertical-align: top;
    position: relative;
    left: 120px;
    margin-top: 25px;
    top: -20px;
}

.jump-cover {
    display: block;
    width: 270px;
    height: auto;
    margin-right: 100px;
    margin-top: 10px;
    top: -20px;
    position: relative;
    left: 120px;
}

.jump-container {
    position: relative;
    width: 900px;
    /* adjust size */
    margin: 20px auto;
    /* center on page */
    border-radius: 12px;
    overflow: hidden;
    /* keeps play button inside the image */
    cursor: pointer;
    right: 150px;
}

.jump-video {
    width: 100%;
    display: block;
    border-radius: 12px;
    height: 470px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 90px;
    font-weight: bold;
    color: white;

    text-shadow: 0 0 20px black;
    /* glowing effect */
    pointer-events: none;
    /* makes click go through to <a> */
}


.date {
    font-size: 30px;
    text-align: start;
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    color: black;
    bottom: 40px;
    position: relative;
    left: 180px;
}

.about-title {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    color: black;
    position: relative;
    top: -15px;
}

.jisoo-photo {
    border-radius: 10px;
    margin: 10px;
    position: relative;
    top: -40px;
    height: 400px;
    left: 100px;
}

.jennie-photo {
    border-radius: 10px;
    margin: 10px;
    position: relative;
    top: 60px;
    height: 400px;
    left: 150px;
}

.rose-photo {
    border-radius: 10px;
    margin: 10px;
    position: relative;
    top: 60px;
    height: 400px;
    left: 200px;
}

.lisa-photo {
    border-radius: 10px;
    margin: 10px;
    position: relative;
    top: -40px;
    height: 400px;
    right: -260px;
}

.name {
    display: flex;
    justify-content: flex-start;
}

.jisoo {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 60px;
    left: 190px;
}

.jennie {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 410px;
    left: 450px;
}

.rose {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 410px;
    left: 700px;
}

.lisa {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 60px;
    left: 980px;
}

.back_button {
    position: relative;
    top: 30px;
    left: 1400px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    /* or any color */
    color: darkorchid;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.multi-col-list {
    columns: 3;
    /* number of columns */
    column-gap: 40px;
    /* spacing between columns */
    list-style-type: disc;
}

.details-jisoo {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    color: darkred;
    text-align: center;
    font-size: 40px;
    margin-right: 380px;
}

.jisoo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    border-bottom: 1px solid black;
    /* thin line */
}

.jisoo-profile {
    border-radius: 10px;
    position: relative;
    height: 350px;
    justify-content: center;
    left: 70px;
    top: -20px;
}

.jisoo-left {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 25px;
    color: black;
    position: relative;
    left: 160px;
}

.jisoo-right {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    right: 60px;
    bottom: 40px;
    width: 500px;
}

.details-jennie {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    color: darkred;
    text-align: center;
    font-size: 40px;
    margin-left: 270px;
}

.jennie-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    border-bottom: 1px solid black;
    /* thin line */
}

.jennie-profile {
    border-radius: 10px;
    position: relative;
    height: 350px;
    justify-content: center;
    left: 100px;
}

.jennie-left {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    right: 900px;
    width: 500px;
    top: -10px;
}

.jennie-right {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 25px;
    color: black;
    position: relative;
    left: 1040px;
    width: 400px;
    top: 20px;
}

.details-rose {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    color: darkred;
    text-align: center;
    font-size: 40px;
    margin-right: 320px;
}

.rose-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    border-bottom: 1px solid black;
    /* thin line */
}

.rose-profile {
    border-radius: 10px;
    position: relative;
    height: 350px;
    justify-content: center;
    left: 30px;
}

.rose-left {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 25px;
    color: black;
    position: relative;
    left: 100px;
    width: 450px;
    top: 20px;
}

.rose-right {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    right: 70px;
    top: -250px;
    width: 500px;
    height: 5px;
}

.details-lisa {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    color: darkred;
    text-align: center;
    font-size: 40px;
    margin-left: 350px;
}

.lisa-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    border-bottom: 1px solid black;
    /* thin line */
}

.lisa-profile {
    border-radius: 10px;
    position: relative;
    height: 350px;
    justify-content: center;
    left: 120px;
}

.lisa-left {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 20px;
    color: black;
    position: relative;
    right: 900px;
    width: 500px;
    top: -10px;
}

.lisa-right {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 25px;
    color: black;
    position: relative;
    left: 1040px;
    width: 400px;
    top: 20px;
}

.video-wrapper {
    position: relative;
    width: 600px;
    /* change size if needed */
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

.video-thumbnail {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 15px black;

    pointer-events: none;
    /* makes the button click-through */
}

.discography-title {
    font-family: Arial, sans-serif;
    /* change to your chosen font */
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    color: black;
    position: relative;
    top: -15px;
}

.discography-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 70px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 10px;
    justify-items: center;
    margin-bottom: -50px;
}

.album {
    text-align: center;
    font-size: 28px;
    width: 350px;
    margin: 0 auto;
}

.album-photo {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.button {
    position: relative;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: darkorchid;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    bottom: 2050px;
    left: 1300px;
    border: none;
}

.song-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px;
}

.music-title {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 26px;
    margin-top: 20px;
    gap: 10px;
    justify-content: flex-start;
    color: black;
    left: 50px;
    position: relative;
}

.music-title .number {
    font-size: 45px;
    font-weight: 400;
    margin: 0 10px;
    line-height: 0.7;
    /* keeps it aligned */
    display: inline-block;
}

.m1-next-button {
    position: relative;
    bottom: 100px;
    left: 1350px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    /* or any color */
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.m1-back-button {
    position: relative;
    top: 120px;
    left: 1050px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.song-title-box {
    background-color: darkred;
    padding: 10px 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    width: 305px;
    margin-left: 40px;
    top: 10px;
    position: relative;
    bottom: 130px;
}


.description {
    background-color: whitesmoke;
    padding: 20px 20px;
    font-size: 28px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    text-align: left;
    box-sizing: border-box;
    width: 300px;
    height: 260px;
    position: relative;
    bottom: -30px;
    left: 135px;

}


.song-info {
    flex: 1;
    min-width: 400px;
}

.kill-this-love-container {
    flex: 1;
    max-width: 1000px;
    position: relative;
    right: 160px;
    height: 370px;

}

.kill-this-love-video {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 420px;
    bottom: 20px;
    position: relative;
    bottom: 30px;
}

.play-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 15px black;
    pointer-events: none;
}

.m2-next-button {
    position: relative;
    bottom: 130px;
    left: 1350px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    /* or any color */
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.m2-back-button {
    position: relative;
    top: 100px;
    left: 1050px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.how-you-like-that-container {
    flex: 1;
    max-width: 1000px;
    position: relative;
    right: 160px;
    height: 370px;
}

.how-you-like-that-video {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 420px;
    bottom: 20px;
    position: relative;
    bottom: 30px;
}

.m3-next-button {
    position: relative;
    bottom: 100px;
    left: 1350px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    /* or any color */
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.m3-back-button {
    position: relative;
    top: 120px;
    left: 1050px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.pink-venom-container {
    flex: 1;
    max-width: 1000px;
    position: relative;
    right: 160px;
    height: 370px;

}

.pink-venom-video {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 420px;
    bottom: 20px;
    position: relative;
    bottom: 30px;
}

.m4-next-button {
    position: relative;
    bottom: 100px;
    left: 1350px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    /* or any color */
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.m4-back-button {
    position: relative;
    top: 100px;
    left: 1050px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.shut-down-container {
    flex: 1;
    max-width: 1000px;
    position: relative;
    right: 160px;
    height: 370px;

}

.shut-down-video {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 420px;
    bottom: 20px;
    position: relative;
    bottom: 30px;
}

.m5-next-button {
    position: relative;
    bottom: 130px;
    left: 1350px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    /* or any color */
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.m5-back-button {
    position: relative;
    top: 150px;
    left: 1050px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: darkorchid;
    border: none;
    border-radius: 5px;
}

.lovesick-girls-container {
    flex: 1;
    max-width: 1000px;
    position: relative;
    right: 160px;
    height: 370px;

}

.lovesick-girls-video {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 420px;
    bottom: 20px;
    position: relative;
    bottom: 30px;
}
@media (max-width: 768px) {
    .logo-container {
        display: flex;
        /* places image + text side by side */
        align-items: center;
        /* centers item vertically */
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        /* stacks image + text vertically */
        gap: 20px;
        /* reduces space between image and text */
    }

    .logo {
        width: 120%;
        /* adjusts logo size for smaller screens */
        position: static;
        /* prevents overflow issues */
    }

    .crown {
        width: 120px;
        /* adjusts crown size for smaller screens */
        position: static;
        /* prevents overflow issues */
    }

    .logo-text {
        font-size: 8vw;
        /* adjusts text size for smaller screens */
        position: static;
        /* prevents overflow issues */
        text-align: center;
        white-space: nowrap;
        margin-top: 30;

    }

    .container {
        display: flex;
        flex-direction: row;
        /* stacks nav items vertically */
        flex-wrap: wrap;
        /* wrap if screen too small */
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        /* reduces space between nav items */
        font-size: 10px;
        /* adjusts font size for smaller screens */
        padding: 10px;
        /* reduces padding for smaller screens */
        width: 100%;
    }

    .highlight {
        padding: 5px 5px;
        /* adjusts padding for smaller screens */
        width: 100%;
        /* makes highlight span full width */
    }

    .image-container,
    .main-image {
        width: 100%;
    }

    .corner_button {
        padding: 8px 15px;
        font-size: 14px;
        bottom: 10px;
        right: 10px;
        border-radius: 4px;
    }


}
